/*=====================================2000px===========================================*/

@media screen and (max-width: 2000px) {
  .container {
    margin-inline: auto;
    overflow: hidden;
  }
  /*---------------intro-----------------*/
  #landing-page {
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
  }
  .ul-list {
    font-size: 20px;
  }
  .intro {
    color: rgb(237, 236, 236);
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /*---------------about-----------------*/
  .about-page {
    padding: 30px 0 5% 0;
    height: auto;
  }
  .aboutbody {
    padding: 0em 2em 0em 2em;
  }
  .aboutbody p {
    padding: 1em 4%;
    font-size: 22px;
  }
  /*---------------menu-----------------*/
  .menu-eatable-drinks {
    padding: 5% 0 5% 0;
    height: auto;
  }
  .st,
  .nd,
  .rd {
    padding: auto;
  }
  .drink,
  .pasta,
  .dessert {
    font-size: 28px;
  }
  .d,
  .p,
  .de {
    font-size: 25px;
    color: rgb(43, 42, 42);
  }
  .infosmenu {
    font-size: 18px;
  }
  /*-----------------review-------------------*/
  .row {
    align-items: center;
    width: 100%;
    grid-gap: 2%;
    padding: 6% 5%;
  }
  .rev p {
    font-size: 19px;
  }

  /*-----------------footer-------------------*/
  footer {
    font-size: 21px;
    justify-content: space-between;
  }
  .icons {
    font-size: 21px;
  }
  .foot {
    font-size: 20px;
  }
}
/*=====================================1560px===========================================*/

@media screen and (max-width: 1560px) {
  .row {
    align-items: center;
    width: 100%;
    grid-gap: 2%;
    padding: 6% 5%;
  }
  .rev p {
    font-size: 17px;
  }
}
/*=====================================1200px===========================================*/

@media screen and (max-width: 1200px) {
  .container {
    margin-inline: auto;
    overflow: hidden;
  }
  /*---------------intro-----------------*/
  #landing-page {
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .intro {
    color: rgb(237, 236, 236);
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /*---------------about-----------------*/
  .about-page {
    padding: 30px 0 10% 0;
    height: auto;
  }
  .aboutbody {
    padding: 0em 2em 0em 2em;
  }
  .aboutbody p {
    padding: 1em 0 0 0;
    font-size: 20px;
  }
  /*---------------menu-----------------*/
  .menu-eatable-drinks {
    padding: 0 0 8% 0;
    height: auto;
  }
  .st,
  .nd,
  .rd {
    padding: auto;
  }
  .drink,
  .pasta,
  .dessert {
    font-size: 28px;
  }
  .d,
  .p,
  .de {
    font-size: 25px;
    color: rgb(43, 42, 42);
  }
  .infosmenu {
    font-size: 18px;
  }
  /*-----------------review-------------------*/
  .row {
    align-items: center;
    width: 100%;
    grid-gap: 2%;
    padding: 6% 5%;
  }
  .rev p {
    font-size: 17px;
  }

  /*-----------------footer-------------------*/
  footer {
    font-size: 18px;
    justify-content: space-between;
  }
  .icons {
    font-size: 18px;
  }
  .foot {
    font-size: 18px;
  }
}

/*=====================================992px===========================================*/

@media screen and (max-width: 992px) {
  .container {
    margin-inline: auto;
    overflow: hidden;
  }
  /*---------------intro-----------------*/
  #landing-page {
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .intro {
    color: rgb(237, 236, 236);
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /*---------------about-----------------*/
  .about-page {
    padding: 30px 0 10% 0;
    height: auto;
  }
  .aboutbody {
    padding: 0em 2em 0em 2em;
  }
  .aboutbody p {
    padding: 1em 0 0 0;
    font-size: 20px;
  }
  /*---------------menu-----------------*/
  .menu-eatable-drinks {
    padding: 0 0 8% 0;
    height: auto;
  }
  .st,
  .nd,
  .rd {
    padding: auto;
  }
  .drink,
  .pasta,
  .dessert {
    font-size: 28px;
  }
  .d,
  .p,
  .de {
    font-size: 25px;
    color: rgb(43, 42, 42);
  }
  .infosmenu {
    font-size: 18px;
  }
  /*-----------------review-------------------*/
  .row {
    align-items: center;
    width: 100%;
    grid-gap: 2%;
    padding: 6% 5%;
  }
  .rev p {
    font-size: 15px;
  }

  /*-----------------footer-------------------*/
  footer {
    font-size: 18px;
    justify-content: space-between;
  }
  .icons {
    font-size: 18px;
  }
  .foot {
    font-size: 18px;
  }
}
/*=====================================868px===========================================*/

@media screen and (max-width: 868px) {
  .row {
    align-items: center;
    width: 100%;
    grid-gap: 2%;
    padding: 6% 5%;
  }
  .rev p {
    font-size: 17px;
  }
}
/*=====================================768px===========================================*/

@media screen and (max-width: 768px) {
  .container {
    margin-inline: auto;
    overflow: hidden;
  }
  /*---------------intro-----------------*/
  #landing-page {
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .intro {
    color: rgb(237, 236, 236);
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /*---------------about-----------------*/
  .about-page {
    padding: 30px 0 15% 0;
    height: auto;
  }
  .aboutbody {
    padding: 0em 2em 0em 2em;
  }
  .aboutbody p {
    padding: 1em 0 0 0;
    font-size: 20px;
  }
  /*---------------menu-----------------*/
  .menu-eatable-drinks {
    padding: 0 0 8% 0;
    height: auto;
  }
  .st,
  .nd,
  .rd {
    padding: auto;
  }
  .drink,
  .pasta,
  .dessert {
    font-size: 25px;
  }
  .d,
  .p,
  .de {
    font-size: 22px;
    color: rgb(43, 42, 42);
  }
  .infosmenu {
    font-size: 17px;
  }
  /*-----------------review-------------------*/
  .row {
    width: 100%;
    padding: 10%;
  }
  .rev p {
    font-size: 15px;
  }
  /*-----------------footer-------------------*/
  footer {
    font-size: 18px;
    justify-content: space-between;
  }
  .icons {
    font-size: 18px;
  }
  .foot {
    font-size: 18px;
  }
}

/*=====================================600px===========================================*/
@media screen and (max-width: 600px) {
  .container {
    margin-inline: auto;
    overflow: hidden;
  }
  /*---------------intro-----------------*/
  #landing-page {
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
  }

  .intro {
    color: rgb(237, 236, 236);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  /*---------------about-----------------*/
  .about-page {
    padding: 30px 0 15% 0;
    height: auto;
  }
  .aboutbody {
    padding: 0em 2em 0em 2em;
  }
  .aboutbody p {
    padding: 1em 0 0 0;
    font-size: 16px;
  }
  /*---------------menu-----------------*/
  .menu-eatable-drinks {
    padding: 5% 0 9% 0;
    height: auto;
  }
  .st,
  .nd,
  .rd {
    padding: auto;
  }
  .drink,
  .pasta,
  .dessert {
    font-size: 25px;
  }
  .d,
  .p,
  .de {
    font-size: 20px;
    color: rgb(43, 42, 42);
  }
  .infosmenu {
    font-size: 15px;
  }
  /*-----------------review-------------------*/
  .row {
    width: 100%;
    padding: 10%;
  }
  .rev p {
    font-size: 16px;
  }
  /*-----------------footer-------------------*/
  footer {
    font-size: 13px;
    justify-content: space-between;
  }
  .icons {
    font-size: 13px;
  }
  .foot {
    font-size: 15px;
  }
}
